In [1]:
import pandas as pd
import datetime

In [2]:
file1_name = "daily_trading_info_2014-2018.xlsx"
file2_name = "daily_trading_info_2019-2020.xlsx"

In [3]:
file1 = pd.read_excel(file1_name, sheet_name = None)
file2 = pd.read_excel(file2_name, sheet_name = None)

In [4]:
companies = []
file1_index = []
stock1_index = list(file1.keys())[:]
file2_index = []
stock2_index = list(file2.keys())[:]

In [5]:
import copy

In [6]:
companies = copy.deepcopy(stock2_index)

In [7]:
print(len(stock1_index))
print(len(stock2_index))
print(len(companies))

779
800
800

In [8]:
for i in range(0, len(stock1_index)):
    if(stock1_index[i] not in companies):
        print(stock1_index[i])

In [9]:
rest_comy = []
for i in range(0, len(stock2_index)):
    if(stock2_index[i] not in stock1_index):
        print(stock2_index[i])
        rest_comy.append(stock2_index[i])
print(len(rest_comy))

SHSE.601236
SHSE.601298
SHSE.600928
SHSE.600968
SHSE.600989
SHSE.601698
SZSE.002945
SZSE.002958
SHSE.601615
SHSE.601598
SZSE.001872
SHSE.601860
SHSE.601865
SHSE.601975
SHSE.603256
SHSE.603317
SZSE.002946
SZSE.002948
SZSE.002957
SHSE.603379
SHSE.603983
21

In [10]:
file1[stock2_index[0]].iloc[:,1:-1].head()

        date       open       high        low      close   volume
0 2014-01-02  21.309999  21.700001  21.230000  21.459999  5096443
1 2014-01-03  21.400000  21.450001  20.370001  20.790001  9945683
2 2014-01-06  20.680000  20.680000  20.219999  20.240000  5171376
3 2014-01-07  20.100000  20.250000  19.860001  20.000000  5364241
4 2014-01-08  20.000000  20.389999  20.000000  20.230000  5186841

In [11]:
file2[stock2_index[0]].iloc[:,1:].head()

        date       open       high        low      close   volume
0 2019-01-02  27.530001  27.580000  26.379999  26.650000  3002072
1 2019-01-03  26.650000  26.850000  26.299999  26.549999  1575986
2 2019-01-04  26.469999  26.920000  26.080000  26.820000  1945105
3 2019-01-07  26.820000  26.860001  26.459999  26.639999  3502097
4 2019-01-08  26.549999  26.549999  26.270000  26.330000  3266613

In [12]:
a = file1[stock2_index[0]].iloc[:,1:-1].head()
b = file2[stock2_index[0]].iloc[:,1:].head()

In [13]:
pd.concat([a, b])

        date       open       high        low      close   volume
0 2014-01-02  21.309999  21.700001  21.230000  21.459999  5096443
1 2014-01-03  21.400000  21.450001  20.370001  20.790001  9945683
2 2014-01-06  20.680000  20.680000  20.219999  20.240000  5171376
3 2014-01-07  20.100000  20.250000  19.860001  20.000000  5364241
4 2014-01-08  20.000000  20.389999  20.000000  20.230000  5186841
0 2019-01-02  27.530001  27.580000  26.379999  26.650000  3002072
1 2019-01-03  26.650000  26.850000  26.299999  26.549999  1575986
2 2019-01-04  26.469999  26.920000  26.080000  26.820000  1945105
3 2019-01-07  26.820000  26.860001  26.459999  26.639999  3502097
4 2019-01-08  26.549999  26.549999  26.270000  26.330000  3266613

## start merging

In [14]:
result_name = []
result_sheet = []

for i in range(0, len(rest_comy)):
    result_name.append(rest_comy[i])
    result_sheet.append(file2[rest_comy[i]].iloc[:,1:])
    
for w in range(0, len(result_sheet)):
    result_sheet[w].to_excel(result_name[w]+".xlsx", sheet_name = result_name[w], index=False)
    print(w)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
stock1_index

['SHSE.600085',
 'SHSE.600089',
 'SHSE.600153',
 'SZSE.000333',
 'SHSE.600208',
 'SHSE.600170',
 'SHSE.600221',
 'SZSE.000338',
 'SHSE.600219',
 'SHSE.600176',
 'SHSE.600177',
 'SHSE.600183',
 'SHSE.600233',
 'SZSE.000413',
 'SHSE.600188',
 'SZSE.000415',
 'SHSE.600196',
 'SZSE.000423',
 'SZSE.000425',
 'SHSE.603833',
 'SHSE.600309',
 'SHSE.600271',
 'SHSE.600276',
 'SHSE.600332',
 'SHSE.603799',
 'SHSE.600340',
 'SHSE.600346',
 'SHSE.600297',
 'SHSE.600352',
 'SHSE.600299',
 'SHSE.600406',
 'SHSE.600362',
 'SZSE.000538',
 'SHSE.600372',
 'SHSE.600369',
 'SHSE.603899',
 'SHSE.600383',
 'SHSE.600390',
 'SHSE.600436',
 'SHSE.600438',
 'SZSE.300003',
 'SZSE.000568',
 'SHSE.600398',
 'SZSE.000625',
 'SZSE.000630',
 'SHSE.601006',
 'SZSE.000627',
 'SHSE.601012',
 'SZSE.300015',
 'SZSE.000629',
 'SHSE.601009',
 'SHSE.603986',
 'SZSE.300017',
 'SHSE.603993',
 'SHSE.600516',
 'SHSE.601021',
 'SZSE.300024',
 'SHSE.600522',
 'SHSE.601018',
 'SHSE.600519',
 'SZSE.000596',
 'SZSE.000651',
 'SZSE.300033',
 'SHSE.600482',
 'SZSE.000703',
 'SHSE.600535',
 'SZSE.000656',
 'SZSE.000661',
 'SHSE.600487',
 'SZSE.000709',
 'SHSE.600489',
 'SZSE.000671',
 'SHSE.600547',
 'SZSE.000723',
 'SHSE.600498',
 'SZSE.000725',
 'SHSE.601111',
 'SHSE.600606',
 'SZSE.000728',
 'SZSE.300059',
 'SZSE.300070',
 'SHSE.601108',
 'SZSE.300122',
 'SHSE.600570',
 'SHSE.600566',
 'SHSE.601066',
 'SHSE.601117',
 'SZSE.300124',
 'SHSE.600583',
 'SZSE.300136',
 'SHSE.600585',
 'SZSE.300142',
 'SHSE.600637',
 'SZSE.300144',
 'SHSE.600588',
 'SHSE.601088',
 'SHSE.601138',
 'SZSE.000768',
 'SHSE.600703',
 'SHSE.600705',
 'SHSE.601155',
 'SZSE.000776',
 'SHSE.600655',
 'SHSE.600660',
 'SHSE.601211',
 'SZSE.000783',
 'SHSE.601162',
 'SHSE.601212',
 'SHSE.600663',
 'SZSE.000786',
 'SHSE.601166',
 'SHSE.601216',
 'SHSE.601169',
 'SHSE.600674',
 'SHSE.601225',
 'SHSE.600733',
 'SHSE.601229',
 'SHSE.600690',
 'SHSE.600741',
 'SHSE.601186',
 'SZSE.000858',
 'SHSE.601238',
 'SHSE.601198',
 'SHSE.600760',
 'SZSE.000876',
 'SHSE.600809',
 'SHSE.600816',
 'SZSE.000938',
 'SHSE.601318',
 'SHSE.601319',
 'SZSE.000895',
 'SZSE.002001',
 'SZSE.000898',
 'SHSE.601328',
 'SZSE.002010',
 'SZSE.000961',
 'SHSE.601336',
 'SZSE.002007',
 'SHSE.600837',
 'SZSE.002008',
 'SZSE.000963',
 'SHSE.601288',
 'SHSE.600795',
 'SZSE.300347',
 'SHSE.600900',
 'SHSE.600848',
 'SZSE.002024',
 'SHSE.601360',
 'SZSE.002032',
 'SZSE.300408',
 'SZSE.300413',
 'SZSE.002027',
 'SHSE.600867',
 'SZSE.002044',
 'SHSE.600919',
 'SZSE.002050',
 'SZSE.300433',
 'SHSE.600926',
 'SHSE.601377',
 'SHSE.601390',
 'SHSE.600886',
 'SHSE.600887',
 'SHSE.600893',
 'SZSE.002120',
 'SHSE.601398',
 'SZSE.002081',
 'SHSE.600958',
 'SZSE.002142',
 'SZSE.002146',
 'SZSE.002202',
 'SZSE.002153',
 'SHSE.600977',
 'SHSE.601600',
 'SHSE.601601',
 'SZSE.300498',
 'SHSE.600998',
 'SHSE.600999',
 'SZSE.002230',
 'SHSE.601555',
 'SHSE.601607',
 'SZSE.002179',
 'SZSE.002241',
 'SZSE.002236',
 'SHSE.601618',
 'SZSE.002252',
 'SHSE.601577',
 'SHSE.601628',
 'SZSE.002304',
 'SHSE.601633',
 'SZSE.002311',
 'SZSE.002271',
 'SZSE.002294',
 'SHSE.601668',
 'SHSE.601669',
 'SZSE.002352',
 'SHSE.601727',
 'SZSE.002410',
 'SZSE.002411',
 'SHSE.601688',
 'SZSE.002415',
 'SHSE.601800',
 'SZSE.002422',
 'SHSE.601808',
 'SHSE.601766',
 'SHSE.601818',
 'SHSE.601828',
 'SZSE.002460',
 'SZSE.002456',
 'SZSE.002508',
 'SHSE.601838',
 'SHSE.601788',
 'SZSE.002466',
 'SHSE.601901',
 'SZSE.002468',
 'SZSE.002475',
 'SHSE.601857',
 'SZSE.001979',
 'SZSE.002493',
 'SHSE.601919',
 'SZSE.002601',
 'SHSE.601881',
 'SZSE.002602',
 'SHSE.601877',
 'SHSE.601878',
 'SHSE.601933',
 'SZSE.002555',
 'SZSE.002607',
 'SZSE.002558',
 'SHSE.601888',
 'SHSE.601939',
 'SZSE.002624',
 'SHSE.601898',
 'SHSE.601899',
 'SZSE.002594',
 'SHSE.603019',
 'SHSE.601985',
 'SHSE.601992',
 'SZSE.002714',
 'SHSE.601988',
 'SHSE.601989',
 'SZSE.002673',
 'SHSE.601997',
 'SHSE.601998',
 'SZSE.002736',
 'SZSE.002739',
 'SZSE.002773',
 'SHSE.603160',
 'SHSE.603156',
 'SZSE.002841',
 'SZSE.002916',
 'SHSE.603260',
 'SHSE.603259',
 'SZSE.002938',
 'SZSE.002939',
 'SHSE.603288',
 'SZSE.000001',
 'SZSE.000002',
 'SZSE.000100',
 'SHSE.603501',
 'SZSE.000063',
 'SHSE.600000',
 'SZSE.000069',
 'SHSE.600004',
 'SHSE.600010',
 'SHSE.600011',
 'SHSE.600009',
 'SHSE.600015',
 'SHSE.600016',
 'SHSE.600023',
 'SHSE.600018',
 'SHSE.600019',
 'SHSE.600025',
 'SHSE.600030',
 'SHSE.600031',
 'SHSE.600027',
 'SHSE.600028',
 'SHSE.600029',
 'SZSE.000157',
 'SHSE.600036',
 'SHSE.600038',
 'SZSE.000166',
 'SHSE.600100',
 'SHSE.600050',
 'SHSE.600048',
 'SHSE.600104',
 'SHSE.600111',
 'SHSE.600061',
 'SHSE.600109',
 'SHSE.600115',
 'SHSE.600066',
 'SHSE.600118',
 'SHSE.600068',
 'SZSE.000006',
 'SZSE.000012',
 'SZSE.000008',
 'SZSE.000009',
 'SZSE.000021',
 'SZSE.000025',
 'SZSE.000031',
 'SZSE.000027',
 'SZSE.000028',
 'SZSE.000039',
 'SZSE.000050',
 'SZSE.000060',
 'SZSE.000061',
 'SZSE.000062',
 'SZSE.000066',
 'SHSE.600006',
 'SZSE.000078',
 'SHSE.600008',
 'SZSE.000090',
 'SHSE.600021',
 'SHSE.600022',
 'SHSE.600017',
 'SZSE.000089',
 'SHSE.600026',
 'SZSE.000156',
 'SHSE.600037',
 'SZSE.000158',
 'SHSE.600039',
 'SHSE.600053',
 'SHSE.600060',
 'SHSE.600056',
 'SHSE.600062',
 'SHSE.600058',
 'SHSE.600064',
 'SHSE.600120',
 'SHSE.600073',
 'SHSE.600125',
 'SZSE.000301',
 'SHSE.600126',
 'SHSE.600132',
 'SHSE.600079',
 'SHSE.600141',
 'SHSE.600138',
 'SHSE.600143',
 'SHSE.600094',
 'SHSE.600150',
 'SHSE.600201',
 'SHSE.600098',
 'SHSE.600155',
 'SHSE.600160',
 'SHSE.600161',
 'SHSE.600158',
 'SHSE.600171',
 'SHSE.600216',
 'SHSE.600166',
 'SHSE.600167',
 'SZSE.000400',
 'SZSE.000401',
 'SZSE.000402',
 'SHSE.600195',
 'SHSE.600260',
 'SZSE.000426',
 'SHSE.600256',
 'SHSE.600307',
 'SHSE.600312',
 'SHSE.600258',
 'SHSE.600259',
 'SHSE.600315',
 'SHSE.600316',
 'SHSE.600266',
 'SHSE.600317',
 'SHSE.600273',
 'SZSE.000501',
 'SHSE.600325',
 'SHSE.600282',
 'SHSE.600277',
 'SHSE.600329',
 'SHSE.600335',
 'SHSE.600291',
 'SZSE.000513',
 'SHSE.600338',
 'SHSE.600339',
 'SHSE.600350',
 'SHSE.600298',
 'SZSE.000519',
 'SHSE.600348',
 'SHSE.600410',
 'SZSE.000528',
 'SHSE.600409',
 'SHSE.600415',
 'SZSE.000536',
 'SZSE.000537',
 'SZSE.000488',
 'SZSE.000543',
 'SHSE.600373',
 'SHSE.600418',
 'SZSE.000600',
 'SHSE.600380',
 'SHSE.600426',
 'SHSE.600376',
 'SZSE.000547',
 'SZSE.000553',
 'SHSE.600428',
 'SHSE.600435',
 'SZSE.000563',
 'SHSE.600392',
 'SHSE.600388',
 'SZSE.000564',
 'SZSE.000559',
 'SZSE.300001',
 'SHSE.600500',
 'SZSE.300002',
 'SHSE.601000',
 'SHSE.601001',
 'SHSE.600446',
 'SZSE.000623',
 'SZSE.300010',
 'SHSE.601003',
 'SHSE.601005',
 'SZSE.300012',
 'SHSE.600460',
 'SZSE.000581',
 'SHSE.600511',
 'SZSE.300009',
 'SHSE.600507',
 'SZSE.300014',
 'SHSE.600515',
 'SZSE.000636',
 'SHSE.600521',
 'SHSE.600466',
 'SHSE.601016',
 'SHSE.601019',
 'SZSE.300026',
 'SZSE.300027',
 'SZSE.000598',
 'SHSE.600528',
 'SHSE.600478',
 'SHSE.600486',
 'SHSE.600536',
 'SZSE.000712',
 'SHSE.601100',
 'SHSE.600545',
 'SZSE.000717',
 'SHSE.600497',
 'SZSE.000718',
 'SHSE.600499',
 'SHSE.600549',
 'SZSE.000681',
 'SHSE.601106',
 'SZSE.300113',
 'SZSE.000732',
 'SZSE.300058',
 'SZSE.000727',
 'SHSE.600557',
 'SHSE.600563',
 'SZSE.300115',
 'SZSE.000729',
 'SZSE.000690',
 'SZSE.000685',
 'SZSE.000686',
 'SZSE.300072',
 'SHSE.600565',
 'SZSE.000738',
 'SHSE.600567',
 'SHSE.600572',
 'SHSE.601118',
 'SHSE.600623',
 'SHSE.601068',
 'SZSE.000750',
 'SHSE.600580',
 'SHSE.600575',
 'SZSE.300133',
 'SHSE.601127',
 'SHSE.600582',
 'SZSE.300134',
 'SHSE.600633',
 'SHSE.601128',
 'SHSE.600584',
 'SHSE.600640',
 'SZSE.000761',
 'SZSE.300088',
 'SZSE.000807',
 'SZSE.000758',
 'SZSE.000813',
 'SHSE.600642',
 'SHSE.600643',
 'SHSE.600639',
 'SHSE.601139',
 'SZSE.000766',
 'SHSE.600645',
 'SHSE.601200',
 'SHSE.600597',
 'SHSE.600598',
 'SHSE.600648',
 'SHSE.601098',
 'SHSE.601099',
 'SHSE.600704',
 'SHSE.600649',
 'SZSE.000825',
 'SZSE.000830',
 'SZSE.300207',
 'SZSE.000826',
 'SHSE.600707',
 'SHSE.600657',
 'SZSE.000778',
 'SZSE.300159',
 'SZSE.300166',
 'SHSE.600664',
 'SZSE.300168',
 'SHSE.600717',
 'SZSE.300180',
 'SHSE.601168',
 'SHSE.600718',
 'SHSE.600673',
 'SZSE.300182',
 'SHSE.601231',
 'SZSE.000848',
 'SHSE.601233',
 'SHSE.601228',
 'SHSE.600728',
 'SHSE.600729',
 'SHSE.601179',
 'SHSE.600737',
 'SZSE.300244',
 'SHSE.600694',
 'SZSE.300251',
 'SHSE.600739',
 'SZSE.300197',
 'SHSE.600745',
 'SHSE.600751',
 'SHSE.600801',
 'SZSE.300253',
 'SZSE.300199',
 'SZSE.000869',
 'SHSE.600748',
 'SHSE.600754',
 'SZSE.000930',
 'SHSE.600699',
 'SHSE.600804',
 'SHSE.600755',
 'SZSE.300257',
 'SZSE.000877',
 'SHSE.600811',
 'SZSE.300308',
 'SZSE.000932',
 'SZSE.000883',
 'SHSE.600757',
 'SZSE.000878',
 'SHSE.600763',
 'SZSE.300315',
 'SHSE.600808',
 'SZSE.300316',
 'SHSE.600759',
 'SHSE.600765',
 'SHSE.600770',
 'SHSE.600820',
 'SZSE.000937',
 'SZSE.000887',
 'SZSE.300324',
 'SZSE.300274',
 'SHSE.600823',
 'SHSE.601326',
 'SZSE.002002',
 'SHSE.600776',
 'SHSE.600827',
 'SHSE.600782',
 'SHSE.600777',
 'SHSE.601333',
 'SZSE.300285',
 'SZSE.002004',
 'SZSE.000960',
 'SHSE.600779',
 'SHSE.600835',
 'SZSE.002013',
 'SHSE.600787',
 'SZSE.000959',
 'SZSE.300296',
 'SHSE.600839',
 'SZSE.000970',
 'SZSE.300297',
 'SHSE.600845',
 'SHSE.600901',
 'SZSE.000967',
 'SHSE.600903',
 'SZSE.002019',
 'SZSE.000980',
 'SZSE.002030',
 'SZSE.000975',
 'SHSE.600862',
 'SZSE.002028',
 'SZSE.000983',
 'SHSE.600863',
 'SHSE.600908',
 'SHSE.600859',
 'SHSE.600909',
 'SZSE.000990',
 'SZSE.000987',
 'SZSE.300418',
 'SZSE.000988',
 'SHSE.600917',
 'SZSE.002038',
 'SZSE.300376',
 'SHSE.600874',
 'SHSE.600869',
 'SZSE.002051',
 'SHSE.600875',
 'SZSE.000997',
 'SZSE.300383',
 'SHSE.600881',
 'SZSE.002048',
 'SZSE.000998',
 'SZSE.002049',
 'SZSE.000999',
 'SHSE.600879',
 'SZSE.002110',
 'SHSE.600884',
 'SHSE.600885',
 'SZSE.002056',
 'SZSE.002064',
 'SHSE.600939',
 'SZSE.002065',
 'SHSE.600895',
 'SZSE.002118',
 'SZSE.002074',
 'SZSE.002075',
 'SZSE.002131',
 'SZSE.002127',
 'SZSE.002128',
 'SZSE.300459',
 'SZSE.002078',
 'SZSE.002129',
 'SHSE.600959',
 'SZSE.002085',
 'SHSE.600970',
 'SZSE.002092',
 'SZSE.002093',
 'SHSE.600967',
 'SZSE.002152',
 'SZSE.002203',
 'SZSE.300529',
 'SZSE.002155',
 'SHSE.600985',
 'SZSE.002212',
 'SZSE.002221',
 'SHSE.600996',
 'SZSE.002217',
 'SZSE.002223',
 'SZSE.002174',
 'SZSE.002180',
 'SZSE.002176',
 'SHSE.601611',
 'SZSE.002233',
 'SZSE.002183',
 'SHSE.601608',
 'SZSE.002191',
 'SZSE.002242',
 'SZSE.002244',
 'SZSE.002195',
 'SZSE.002250',
 'SZSE.002302',
 'SZSE.002249',
 'SZSE.002266',
 'SZSE.002317',
 'SZSE.002268',
 'SZSE.002273',
 'SZSE.002280',
 'SZSE.002281',
 'SZSE.002340',
 'SZSE.002285',
 'SHSE.601717',
 'SHSE.601718',
 'SZSE.002353',
 'SHSE.601678',
 'SZSE.002407',
 'SZSE.002358',
 'SZSE.002408',
 'SZSE.002414',
 'SHSE.601689',
 'SZSE.002371',
 'SZSE.002366',
 'SZSE.002416',
 'SZSE.002372',
 'SHSE.601801',
 'SZSE.002368',
 'SZSE.002423',
 'SZSE.002373',
 'SZSE.002419',
 'SZSE.002424',
 'SZSE.002375',
 'SHSE.601699',
 'SZSE.002426',
 'SZSE.002382',
 'SHSE.601811',
 'SZSE.002434',
 'SZSE.002384',
 'SZSE.002390',
 'SZSE.002385',
 'SZSE.002440',
 'SZSE.002437',
 'SZSE.002387',
 'SZSE.002439',
 'SZSE.002444',
 'SZSE.002500',
 'SZSE.002503',
 'SZSE.002399',
 'SZSE.002505',
 'SZSE.002507',
 'SZSE.002463',
 'SZSE.002465',
 'SZSE.002470',
 'SHSE.601799',
 'SZSE.002482',
 'SZSE.002491',
 'SHSE.601866',
 'SHSE.601872',
 'SZSE.002544',
 'SHSE.601869',
 'SHSE.601880',
 'SZSE.002603',
 'SHSE.601928',
 'SHSE.603000',
 'SZSE.002572',
 'SZSE.002573',
 'SZSE.002625',
 'SZSE.002583',
 'SHSE.601958',
 'SZSE.002635',
 'SZSE.002640',
 'SHSE.601966',
 'SZSE.002589',
 'SHSE.601969',
 'SHSE.603025',
 'SZSE.002701',
 'SZSE.002653',
 'SZSE.002709',
 'SZSE.002670',
 'SZSE.002665',
 'SZSE.002672',
 'SZSE.002681',
 'SHSE.603056',
 'SZSE.002690',
 'SZSE.002745',
 'SHSE.603077',
 'SZSE.002812',
 'SZSE.002807',
 'SZSE.002815',
 'SZSE.002821',
 'SZSE.002818',
 'SZSE.002831',
 'SZSE.002839',
 'SHSE.603225',
 'SZSE.002797',
 'SHSE.603233',
 'SHSE.603228',
 'SZSE.002920',
 'SZSE.002867',
 'SHSE.603198',
 'SZSE.002925',
 'SZSE.002926',
 'SZSE.002936',
 'SZSE.002941',
 'SHSE.603328',
 'SHSE.603338',
 'SHSE.603355',
 'SHSE.603377',
 'SHSE.603444',
 'SHSE.603515',
 'SHSE.603517',
 'SHSE.603486',
 'SHSE.603556',
 'SHSE.603568',
 'SHSE.603650',
 'SHSE.603712',
 'SHSE.603707',
 'SHSE.603659',
 'SHSE.603806',
 'SHSE.603816',
 'SHSE.603766',
 'SHSE.603858',
 'SHSE.603866',
 'SHSE.603868',
 'SHSE.603877',
 'SHSE.603882',
 'SHSE.603883',
 'SHSE.603885',
 'SHSE.603888',
 'SHSE.603939']

In [16]:
result_name = []
result_sheet = []

for i in range(0, len(stock1_index)):
    result_name.append(stock1_index[i])
    a = file1[stock1_index[i]].iloc[:,1:-1]
    b = file2[stock1_index[i]].iloc[:,1:]
    result_sheet.append( pd.concat([a, b]) )

In [17]:
print(len(result_name))
print(len(result_sheet))

779
779

In [18]:
result_sheet[1]

          date   open   high    low  close       volume
0   2014-01-02  10.66  10.78  10.60  10.73          NaN
1   2014-01-03  10.85  11.24  10.85  10.91          NaN
2   2014-01-06  10.90  10.90  10.50  10.58          NaN
3   2014-01-07  10.52  11.12  10.52  11.01          NaN
4   2014-01-08  11.01  11.06  10.65  10.98          NaN
..         ...    ...    ...    ...    ...          ...
297 2020-03-25   7.50   7.55   7.30   7.46   88909171.0
298 2020-03-26   7.35   7.39   7.16   7.18   72909078.0
299 2020-03-27   7.28   7.65   7.24   7.40  125591224.0
300 2020-03-30   7.22   7.73   7.10   7.55  125570327.0
301 2020-03-31   7.54   7.55   7.27   7.30   78738705.0

[1504 rows x 6 columns]

In [19]:
for w in range(0, len(result_sheet)):
    result_sheet[w].to_excel(result_name[w]+".xlsx", sheet_name = result_name[w], index=False)
    if(w%100==0):
        print(w)

0
100
200
300
400
500
600
700