In [1]:
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier

In [2]:
data = pd.read_excel("strategy_results_train.xlsx")

In [3]:
data.head()

,id,label,5ma,10ma,20ma,60ma,120ma,240ma
0,SHSE.600085_201501,0,21.291999,21.369,21.6650,21.291999,21.369,21.6650
1,SHSE.600085_201502,1,23.320000,23.386,23.5860,23.320000,23.386,23.5860
2,SHSE.600085_201503,1,22.442000,22.106,22.4540,22.442000,22.106,22.4540
3,SHSE.600085_201504,1,26.378000,25.148,24.0025,26.378000,25.148,24.0025
4,SHSE.600085_201505,1,32.888000,32.902,31.2410,32.888000,32.902,31.2410

In [4]:
data2 = pd.concat( [data.iloc[:, 1], data.iloc[:, 2:]], axis=1)

In [5]:
data2.head()

   label        5ma    10ma     20ma       60ma   120ma    240ma
0      0  21.291999  21.369  21.6650  21.291999  21.369  21.6650
1      1  23.320000  23.386  23.5860  23.320000  23.386  23.5860
2      1  22.442000  22.106  22.4540  22.442000  22.106  22.4540
3      1  26.378000  25.148  24.0025  26.378000  25.148  24.0025
4      1  32.888000  32.902  31.2410  32.888000  32.902  31.2410

In [6]:
data2.isnull().any()

label    False
5ma       True
10ma      True
20ma      True
60ma      True
120ma     True
240ma     True
dtype: bool

In [7]:
data2 = data2.dropna(axis = 0)
data2.isnull().any()

label    False
5ma      False
10ma     False
20ma     False
60ma     False
120ma    False
240ma    False
dtype: bool

In [8]:
y = data2["label"]
y

0       0
1       1
2       1
3       1
4       1
       ..
5937    0
5938    0
5939    0
5940    1
5941    0
Name: label, Length: 5930, dtype: int64

In [9]:
X = data2.iloc[:, 1:]

In [10]:
X

            5ma       10ma     20ma       60ma      120ma    240ma
0     21.291999  21.369000  21.6650  21.291999  21.369000  21.6650
1     23.320000  23.386000  23.5860  23.320000  23.386000  23.5860
2     22.442000  22.106000  22.4540  22.442000  22.106000  22.4540
3     26.378000  25.148000  24.0025  26.378000  25.148000  24.0025
4     32.888000  32.902000  31.2410  32.888000  32.902000  31.2410
...         ...        ...      ...        ...        ...      ...
5937  48.784000  49.578000  49.4140  48.784000  49.578000  49.4140
5938  44.513999  44.176000  43.2510  44.513999  44.176000  43.2510
5939  42.416000  41.667999  41.5395  42.416000  41.667999  41.5395
5940  30.544000  32.756000  35.6795  30.544000  32.756000  35.6795
5941  32.432000  33.341000  33.4030  32.432000  33.341000  33.4030

[5930 rows x 6 columns]

In [11]:
X = X.dropna(axis = 0)

In [12]:
X.isnull().any()

5ma      False
10ma     False
20ma     False
60ma     False
120ma    False
240ma    False
dtype: bool

In [13]:
X.shape

(5930, 6)

In [14]:
clf1 = LogisticRegression()
clf2 = SVC()
clf3 = RandomForestClassifier()
clf4 = AdaBoostClassifier()
clf5 = GradientBoostingClassifier()
eclf = VotingClassifier(
    estimators=[('lr', clf1), ('svc', clf2), \
               ('rf', clf3), ('ada', clf4), ('gb', clf5)],
    voting='hard')

In [15]:
eclf.fit(X, y)

VotingClassifier(estimators=[('lr',
                              LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False)),
                             ('svc',
                              SVC(C=1.0, break_ties=False, cache_size=200,
                                  class_weight=None, coef0=0.0,
                                  d...
                                                         max_leaf_nodes=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=1,
                                                         min_samples_split=2,
                                                         min_weight_fraction_leaf=0.0,
                                                         n_estimators=100,
                                                         n_iter_no_change=None,
                                                         presort='deprecated',
                                                         random_state=None,
                                                         subsample=1.0,
                                                         tol=0.0001,
                                                         validation_fraction=0.1,
                                                         verbose=0,
                                                         warm_start=False))],
                 flatten_transform=True, n_jobs=None, voting='hard',
                 weights=None)

In [16]:
eclf.predict(X)

array([0, 0, 0, ..., 0, 1, 1])

In [17]:
testdata = pd.read_excel("sampleSubmission.xlsx")

In [18]:
testdata = testdata.fillna(0)
testdata.isnull().any()

id       False
label    False
5ma      False
10ma     False
20ma     False
60ma     False
120ma    False
240ma    False
dtype: bool

In [19]:
testdata.iloc[:, 2:]

             5ma       10ma       20ma    60ma   120ma    240ma
0      27.258000  27.573000  28.514500  27.258  27.573  28.5145
1      26.624000  26.698000  26.697500  26.624  26.698  26.6975
2      28.890000  28.863000  27.962500  28.890  28.863  27.9625
3      29.532000  30.037000  30.182000  29.532  30.037  30.1820
4      31.514000  32.125000  31.855000  31.514  32.125  31.8550
...          ...        ...        ...     ...     ...      ...
11358  86.210001  86.955000  85.049500   0.000   0.000   0.0000
11359  77.136000  80.214001  83.942000   0.000   0.000   0.0000
11360  70.966000  71.855001  73.499501   0.000   0.000   0.0000
11361  82.976001  79.619000  76.076001   0.000   0.000   0.0000
11362  81.462000  82.899000  84.209000   0.000   0.000   0.0000

[11363 rows x 6 columns]

In [20]:
result = eclf.predict(testdata.iloc[:, 2:])

In [21]:
pd.DataFrame(result).to_excel("prediction_voting.xlsx", index=False)